body{
    text-align: center;
}

.container ::after{
    position: relative;
    width: 500%; /* 根據需要調整大小 */
    max-width: 1000px; /* 根據需要調整最大寬度 */
}

canvas{
    float: left;
    width: 69%;
    height: 100%;
    border: 2px solid black;
    background-image: url(/static/images/background.png);
    background-size: cover;
    background-position: center;
}

.column {
    float: right;
    width: 25%;
    /* padding: 10px; */
    /* height: 500px;  */
    
}

.products ::after{
    float: left;
}

.product {
    float: right;
    width: 50%;
    font-size: 13px;
}

.word {
    float: right;
    width: 50%;
    font-size: 18px;
}

.move-down {
    margin-top: 100px; /* 根据需要调整此值 */
}

#talkBox{
    top: 480px;
    left: 280px; 

    position: absolute; /* 使 talkBox 能夠在 canvas 之上 */
    z-index: 2; /* 確保 talkBox 位於 canvas 之上 */

    height: 20px;
    width: 80%;
    
    text-align: left;

    color: brown;

    font-size: 25px;
    /* font-size: 2vw; */
    font-weight: bold;
}



